html, body {
	height: 100%;
	margin: 0;
}
#content {
	height: 100%;
	background-color: #202020;
	display: flex;
	justify-content: center;
	align-items: center;

}
span {
    font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	color: cornsilk;
}
#time span {
	font-size: 15rem;
}
@media screen and (max-width: 3000px) {
	#time span {
		font-size: 12rem;
	}
}
@media screen and (max-width: 1400px) {
	#time span {
		font-size: 8rem;
	}
}
@media screen and (max-width: 800px) {
	#time span {
		font-size: 5rem;
	}
}
@media screen and (max-width: 350px) {
	#time span {
		font-size: 4rem;
	}
}