html, body {
	height: 100%;
	margin: 0;
}
#content {
	height: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;

}
span {
    font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	color: cornsilk;
}
#time span {
	font-size: 5rem;
}